.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.active-filter {
  background-color: dodgerblue;
  outline: none;
}

.is-done {
  opacity: 0.5;
  color: darkslategrey;
}

.error {
  border: 2px solid red;
}

.error-message {
  color: red;
  font-size: 10px;
}
